/* header h2,
h3{
    color: green;
}

#textoPrueba{
    color: blue;
}

.prueba{
    color: red;
}

p+p{
    font-weight: bolder;
} */
/* 
div > p {
    color: red;
}

p ~ p {
    font-weight: bolder;
} */
/* 
h2[title] {
    color: green;
} */

/* h2[title="main"] {
    color: blue;
} */

h2[title~="otro"] {
    color: red;
}

h4[class|="es"] {
    color: pink;
}

/*
COLISIÓN DES ESTILOS

CSS - NAVEGADOR
CSS - USUARIO
CSS - ENLAZADOS EN EL ORDEN ENLAZADO
PROPIEDADES QUE SE HEREDAN
PROPIEDADES PROPIAS DEL ELEMENTO
CLASES ASIGNADAS Y EN EL MISMO ORDEN
IDENTIFICADOR
!IMPORTANT

*/