body{
    background-color: orange;
}

div{
    width: 100px;
    height: 150px;
    border: 2px solid black;
    margin: 30px;
}

@media screen and (min-width: 480px){

    body{
        background-color: green;
    }

}

@media screen and (min-width: 767px){
    
    body{
        background-color: lightblue;
    }

}

@media screen and (min-width: 950px){
    
    body{
        background-color: red;;
    }

}