body{
    background-color: orange;
}

div{
    width: 80%;
    height: 150px;
    margin: 8%;
    background-color: white;
    display: inline-block;
}

@media screen and (min-width: 480px){

    body{
        background-color: green;
    }

    div{
        width: 40%;
        margin: 4%;
    }

}

@media screen and (min-width: 767px){
    
    body{
        background-color: lightblue;
    }

}

@media screen and (min-width: 950px){
    
    body{
        background-color: red;;
    }

    div{
        width: 28%;
        margin: 2%;
    }

}