div{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 20px;
}

.hsla{
    background-color: hsla(240, 20%, 50%, 0.2);
}

.rgba{
    background-color: rgba(127, 51, 191, 0.5);
}

.reservadas{
    background-color: tomato;
}

.luzRGB{
    background-color: rgb(0, 255, 0);
}

.hex{
    background-color: #643005;
}

.porcentual{
    background-color: rgb(50%, 20%, 100%);
}

.hsl{
    background-color: hsl(240, 100%, 50%);
}